:root {
  --color-fg: #0d1b0b;
  --color-bg: #f5fbf5;
  --color-button-1: #808ac9;
  --color-button-2: #dee2fe;
  --color-accent-1: #aed1aa;
  --color-accent-2: #9cd7cb;

  --font-display: "Delicious Handrawn", sans-serif;
  --font-default: "Rubik", sans-serif;

  font-size: 6pt;
}

body {
  margin: 0;
  font-family: var(--font-default);
  background-color: var(--color-bg);
  color: var(--color-fg);
  min-height: 100dvh;
  width: 100vw;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100dvh;
  padding: 2rem;
  box-sizing: border-box;
}

header .content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

header .heading {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

header .heading h1 {
  font-family: var(--font-display);
  font-size: 6rem;
  margin: 0;
}

header .heading u {
  text-decoration: none;
  position: relative;
  text-wrap: nowrap;
}

header .heading u::before {
  content: "";
  background-image: url("/images/underline.svg");
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -2rem;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

header .heading p {
  line-height: 160%;
  margin: 0;
  font-size: 1.5rem;
}

.cta {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-right: 8rem;
}

.button {
  display: block;
  width: fit-content;
  color: var(--color-fg);
  padding: 2rem;
  font-family: var(--font-display);
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 100vh;
  transition: translate 0.1s;
  display: flex;
  gap: 1.5rem;
}

.button img {
  height: 2rem;
}

.button:hover {
  translate: 0 -1rem;
}

.button:active {
  translate: 0 1rem;
}

.button.primary {
  background-color: var(--color-button-1);
  color: var(--color-bg);
}

.button.secondary {
  background-color: var(--color-button-2);
}

header .image-blob {
  margin: 0;
  position: absolute;
  right: 1rem;
  top: 2rem;
  height: 12rem;
  background-color: var(--primary);
}

header .blob1 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10rem;
}

header .blob2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
}

@media (width >= 32rem) {
  :root {
    font-size: 8pt;
  }

  header {
    padding: 2rem;
  }

  .cta {
    margin-right: 14rem;
  }

  .button {
    padding: 2.5rem;
    font-size: 2.5rem;
  }

  .button img {
    height: 2.5rem;
  }

  header .image-blob {
    right: 2rem;
    top: 6rem;
    height: 24rem;
  }

  header .blob1 {
    height: 16rem;
  }

  header .blob2 {
    height: 16rem;
  }
}

@media (width >= 64rem) {
  :root {
    font-size: 10pt;
  }

  header {
    padding: 4rem;
  }

  .cta {
    margin-right: 16rem;
  }

  header .image-blob {
    right: 10rem;
    top: 4rem;
    height: 28rem;
  }

  header .blob1 {
    height: 20rem;
  }

  header .blob2 {
    height: 20rem;
  }
}

@media (width >= 96rem) {
  :root {
    font-size: 12pt;
  }

  header {
    padding: 6rem;
  }

  header .image-blob {
    right: 10rem;
    top: 4rem;
    height: 32rem;
  }

  header .blob1 {
    height: 24rem;
  }

  header .blob2 {
    height: 24rem;
  }
}
